{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block container %}
    <div class="row large">
        <p class="flow-text center-align">Questa pagina non esiste</p>
        <p class="flow-text center-align">{{ message }}</p>
    </div>
{% endblock %}